.header{
    display:flex;
    background: linear-gradient(to right,rgba(0, 0, 255, 0),rgba(0, 0, 255, 0.256),rgba(0, 0, 255, 0));
    justify-content: center;
    align-items: center ;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%; 
    position: sticky;
    zoom:67%;

}
.header a:hover{
   color:rgba(167, 236, 225, 0.689);
}
.header *{
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 20px;
    list-style: none;
}
.header:hover{
    background-color: black;
}
.header img{
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 50%;
    position: static;
}
.header .hitem li{
    display: none;
}
.header .hitem:hover li{
    display: block ;
}
ion-icon{
    width: 25px;
    height: 25px;
}
ion-icon:hover{
    width: 25px;
    height: 25px;
    transform: translateY(-10px);
}
body{
   
    background-size: 750px;
    background-image: url(spacebg.jpg);

}
.planetes
{
    margin-left: 30px;
    z-index: 9;
}
.ligne
{
    width: 100%;
    height: 5px;
    background-color: rgb(80, 185, 255);
    z-index: 9;
}

#container
{
   height: 550px;
   background-color: white;
   background-size: cover;
   z-index: 9;
   padding-bottom: 300px;
   background: linear-gradient( to top, rgba(2, 0, 26, 0.151) 0%, rgba(2, 0, 26, 0.8) 10%, rgba(4, 0, 37, 0.8) 22%, rgba(1, 0, 76, 0.8) 37%, rgba(43, 0, 69, 0.8) 60%, rgba(52, 16, 61, 0.8) 81%, rgba(95, 16, 61, 0.9));
  
}
.titre
{
    color: rgb(81, 186, 255);
    font-size: 40px;
    z-index: 9;
}
#titre1
{
    color: aliceblue;
}
h1
{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 9;
}
#intro{
  width: 60%;
  background-color: (0,0,0,0);
  color: aliceblue;
  font-size: 22px;
  border: solid 1px aliceblue;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  top: 50%;
  z-index: 5;
  position: relative;
}



.planete2
{
    width: 100%;
    clear: both;
    height: 320px;
    overflow: hidden;
    margin-top: 15px;
    z-index: 9;
}

p{
    background-color: rgb(53, 4, 99);
    color: antiquewhite;
    height: 250px;
    width: 60%;
    border-radius:5px;
    clear: both;
    position: relative;
    z-index: 1;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 9;
}
.ll
{
    width: 2px;
    height: 250px;
    background-color: aliceblue;
    position: absolute;
    z-index: 10;
    clear: both;
}
img
{
    left: 70%;
    position: absolute;
    width: 170px;
    z-index: 2;
    z-index: 9;
   
}

@keyframes plan {
    0%{left:-70%;}
    50%{left:-70%;}
    100%{left:0px;opacity: 1;}
}
@keyframes plan1 {
    0%{left:0px;opacity: 1;}
 
    100%{left:-70%;opacity: 1;}
}
@keyframes blan {
    0%{background-color: aliceblue;height: 0%;}
    100%{background-color: aliceblue;height: 250px;}
    100%{background-color: aliceblue;height: 250px;}

}
@keyframes blan1 {
    0%{background-color: aliceblue;height: 250px;}
    50%{background-color: aliceblue;height: 250px;}
    100%{background-color: aliceblue;height: 0%;}

}
@keyframes ilan {
    0%{left: 50%;width: 250px;}
    50%{left: 50%;width: 170px;}
    100%{left: 70%;width: 170px;}
    
}
@keyframes ilan1 {
    0%{left: 70%;width: 170px;}
    50%{left: 50%;width: 170px;}
    100%{left: 50%;width: 250px;}
    
}
#star
{
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    
  }
  .meteor-1 {
    position: absolute;
    top: 270px;
    left: 37%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.1s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-2 {
    position: absolute;
    top: 114px;
    left: 28%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.7s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-3 {
    position: absolute;
    top: 151px;
    left: 71%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.7s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-4 {
    position: absolute;
    top: 110px;
    left: 86%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.6s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-5 {
    position: absolute;
    top: 144px;
    left: 89%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.3s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-6 {
    position: absolute;
    top: 299px;
    left: 26%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.7s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-7 {
    position: absolute;
    top: 268px;
    left: 11%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.9s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-8 {
    position: absolute;
    top: 221px;
    left: 11%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.1s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-9 {
    position: absolute;
    top: 248px;
    left: 45%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.4s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-10 {
    position: absolute;
    top: 122px;
    left: 55%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.6s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-11 {
    position: absolute;
    top: 59px;
    left: 29%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.1s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-12 {
    position: absolute;
    top: 95px;
    left: 91%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.6s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-13 {
    position: absolute;
    top: 128px;
    left: 16%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.8s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-14 {
    position: absolute;
    top: 155px;
    left: 46%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.2s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-15 {
    position: absolute;
    top: 273px;
    left: 32%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.7s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  @keyframes meteor {
    0% {
        opacity: 1;
        margin-top: -300px;
        margin-right: -300px;
   }
    12% {
        opacity: 0;
   }
    15% {
        margin-top: 300px;
        margin-left: -600px;
        opacity: 0;
   }
    100% {
        opacity: 0;
   }
  }
  